<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go tiny project with small backend</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
<script>
    removeHandler = (id) => {
        axios.get("http://localhost:8000/user/remove/" + id).then((res, err) => {
            console.log('delete success id: ' + id)
            reload()
        })
    }
    addHandler = () => {
        let name = document.getElementById("inputName");
        let gender = document.getElementById("gender")
        if(gender.innerHTML === 'male') gender = true;
        console.log(name)
        gender = false
        user = {
            "Name": name.value,
            "Male" : gender
        }
        console.log(user)
        axios.post("http://localhost:8000/user/add", user)
        reload();
    }
    reload = () => {
        location.reload()
    }
</script>

<body>
    <div class="root">
        <div class="fixed root">
            <h1 class="center-text">Talent base</h1>
            <table>
                <thead>
                    <tr >
                        <th>Name</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>jackson</td>
                        <td>male</td>
                        <td><button>delete</button></td>
                    </tr>
                    {{range .users}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Male}}</td>
                            <td><button onclick="removeHandler({{.ID}})">delete</button></td>
                        </tr>
                    {{end}}
                    <tr><td></td></tr>
                        <hr>
                    <tr>
                        
                        <td><input id="inputName" type="text" style="width: fit-content;"/></td>
                        <td><input type="text" id="gender"/></td>
                        <td><button onclick="addHandler()">add</button></td>
                        
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</body>
</html>